{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="hourly-pay-types">Back</a>

      <h1 class="heading-large">Worker record for {{ data['record-name'] }}
      </h1>

      <h2 class="heading-medium">
        What are their different hourly rates?
      </h2>

      <form class="form" action="/url/of/next/page" method="post">

        <table id="numTable">
          <thead>
          <tr>
            <th scope="col">Type of pay</th>
            <th class="numeric" scope="col">Rate of pay</th>
            <th class="numeric" scope="col">Hours worked in the last 7 days</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td scope="row"><div contenteditable></div></td>
            <td class="numeric"><div contenteditable></div></td>
            <td class="numeric"><div contenteditable></div></td>
          </tr>
          </tbody>
        </table>

        <a href="#">Add another</a>

        <div class="form-group">
          <br>
          <input class="button" type="submit" value="Save and continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
