{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="pay-questions-4">Back</a>

      <h1 class="heading-large">What is the rate for?
      </h1>

      <form class="form" action="pay-questions-6" method="post">

        <div class="form-group">
          <label class="form-label" for="ratetype1">This could be for things such as bank holidays or weekend work</label>
          <input class="form-control" id="ratetype1" type="text" name="ratetype1" value="{{ data['ratetype1'] }}">
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Save and continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
