{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="pay-questions-10">Back</a>

      <h1 class="heading-large">What is their standard hourly rate?
      </h1>

      <form class="form" action="pay-questions-3" method="post">

        <div class="form-group">
          <label class="form-label" for="standardrate">Hourly rate</label>
          <input class="form-control" id="standardrate" type="number" name="standardrate" value="{{ data['standardrate'] }}">
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Save and continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
