{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="pay-questions-5">Back</a>

      <h1 class="heading-large">How much is the rate?
      </h1>

      <form class="form" action="pay-questions-7" method="post">

        <div class="form-group">
          <label class="form-label" for="standardrate1">Hourly rate</label>
          <input class="form-control" id="standardrate1" type="number" name="standardrate1" value="{{ data['standardrate1'] }}">
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Save and continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
