{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Other roles
      </h1>

      <div class="form-group">
        <fieldset>

          <legend>
            <p class="form-label-bold">Do they do any additional work?</p>
          </legend>
          <div class="multiple-choice">
            <input id="radio-1" type="checkbox" name="radio-group" value="Northern Ireland">
            <label for="radio-1">Senior care worker </label>
          </div>
          <div class="multiple-choice">
            <input id="radio-2" type="checkbox" name="radio-group" value="Isle of Man or the Channel Islands">
            <label for="radio-2">Care worker</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Community support and outreach worker</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Advice guidance and advocacy</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Other care providing job role</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Senior management</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Middle management</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">First line manager</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Registered manager</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Supervisor</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Managers and staff in care related but not care providing roles</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Social worker</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Occupational therapist</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Registered nurse</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Allied health professional</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Safeguarding and reviewing officer</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Administrative or office staff not providing care</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Ancillary not care providing</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Activities worker or coordinator</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Occupational therapist assistant</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">
            <label for="radio-3">Other non care providing job roles</label>
          </div>

        </fieldset>
      </div>


      <p><a class="button" href="personal-information">Save and continue</a></p>

      <p><a href="#">Save record</a></p>

    </div>
  </div>
</main>

{% endblock %}
