{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Place of birth
      </h1>

      <div class="form-group">
  <fieldset>

    <legend>
      <p class="heading-medium">Were they born in the UK?</p>
    </legend>

    <div class="multiple-choice" data-target="contact-by-email">
      <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
      <label for="example-contact-by-email">Yes</label>
    </div>

    <div class="multiple-choice" data-target="contact-by-phone">
      <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
      <label for="example-contact-by-phone">No</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">

      <div class="form-group">
        <label class="form-label-bold" for="full-name-f1">What country were they born in?</label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>
      <div class="form-group">
        <label class="form-label-bold" for="full-name-f1">What year did they arrive in the UK?</label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>
    </div>

    <div class="multiple-choice" data-target="contact-by-text">
      <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
      <label for="example-contact-by-text">Don't know</label>
    </div>

  </fieldset>

</div>


      <p><a class="button" href="worker-questions-experience">Save and continue</a></p>
      <p><a href="#">Save record</a></p>

    </div>
  </div>
</main>

{% endblock %}
