{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Add a new worker
      </h1>

      <div class="form-group">
        <label class="form-label" for="ni-number">
          How would you like to identify this record?
          <span class="form-hint">
            This is for your reference only
          </span>
        </label>
        <input class="form-control" id="ni-number" type="text" name="ni-number">
      </div>

      <div class="form-group">
  <label class="form-label" for="full-name-f1">What is their main job role?</label>
  <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
</div>

<div class="form-group">
  <label class="form-label" for="full-name-f1">Do they do any additional work?</label>
  <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
</div>

      <a class="button" href="worker-questions0">Add worker</a>

    </div>
  </div>
</main>

{% endblock %}
