{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Experience
      </h1>

      <div class="form-group">
        <label class="form-label" for="full-name-f1">What year did they start working in social care?</label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>

      <div class="form-group">
        <label class="form-label" for="full-name-f1">What date did they start in their current role?</label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>

      <div class="form-group">
        <label class="form-label" for="full-name-f1">Where were they recruited from?</label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>

      <p><a class="button" href="sick-leave">Save and continue</a></p>

      <p><a href="#">Save record</a></p>

    </div>
  </div>
</main>

{% endblock %}
